body {
  font-family:  'Open Sans', sans-serif;
  overflow-x: hidden;
  color:#545454;
  background-color: #e7f1f7;
}
p {
  font-size: 11pt;
}
p.small {
  font-size: 9pt;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  color: #2f9ab9 ;
}
a:hover{
  color: #29849f ;
  text-decoration: none;
}
.text-theme-color{
  color: #82297e ;
}
.text-white-color{
  color: #ffffff ;
}
.text-gray-color{
  color:#545454 !important;
}
.text-muted {
    color: #cbcbcb;
}
.text-danger{
	color: rgba(255, 8, 2, 0.85);
}
.hero-display{
  font-size: 46pt;
  font-weight: 700;
}
.h1,h1,
.h2,h2,
.h3,h3,
.h4,h4,
.h5,h5,
.h6,h6 {
  font-family: 'Montserrat', 'Open Sans', serif, Arial;
}
.h1, h1 {
    font-size: 40pt;
    color:#82297e;
}
.h2, h2 {
    font-size: 32pt;
    color:#82297e;
}
.h3, h3 {
    font-size: 25pt;
    color:#82297e;
}
.h4, h4 {
    font-size: 22pt;
    color:#545454;
}
.h5, h5 {
    font-size: 18pt;
    color:#545454;
}
.h6, h6 {
    font-size: 16pt;
    color:#545454;
}
.h5title{
  font-size: 18px !important;
  font-weight: 600;
}
ul{
  padding-left: 16px;
  font-size: 11pt;
}
themebullets ul li {
    color: #07C1EB;
    list-style-type: disc;
}

ul li span {
    color: #545454;
    line-height: 24pt;
}

ul li label{
  color:#545454;
}

hr.star-light,
hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}
hr.star-light:after,
hr.star-primary:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}
hr.star-light {
  border-color: white;
}
hr.star-light:after {
  background-color: #82297e ;
  color: white;
}
hr.star-primary {
  border-color: #4cadf8;
}
hr.star-primary:after {
  background-color: white;
  color: #4cadf8;
}
.img-centered {
  margin: 0 auto;
}
.img-logo-login{
  max-width: 210px;
}
.login-footer{
  padding:28px;
}
input[type=text], input[type=password]{
	width: 100%;
    padding: 0px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    height: 35px;
    border: 1px solid lightgray;
    font-family: 'Open Sans', sans-serif;
    color: #a1a1a1;
    font-size: 10pt;
}
input::placeholder {
  color: #D3D3D3;
}
textarea{
  width: 100%;
    padding: 0px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    height: 35px;
    border: 1px solid lightgray;
    font-family: 'Open Sans', sans-serif;
    color: #a1a1a1;
    font-size: 12pt;
    height: 60px;
}
/*.input-group-addon{
  border:0 !important;
}*/
.forum-item .forum-sub-title {
    color: #999;
     margin-left: 0px; 
}
.inputerror{
	border:1px solid rgba(255, 8, 2, 0.85) !important;
}
header {
  background: white;
}
header .container {
  padding-top: 20px;
  padding-bottom: 50px;
}
header img {
  display: block;
  margin: 10px 20px;
}
header .intro-text .name {
  display: block;
  font-family: 'Montserrat', serif, Arial;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}
@media (min-width: 768px) {
  header .container {
    padding-top: 20px;
    padding-bottom: 100px;
  }
  header .intro-text .name {
    font-size: 4.75em;
  }
  header .intro-text .skills {
    font-size: 1.75em;
  }
}
.navbar-custom {
  background: #82297e ;
  /*font-family: 'Montserrat', serif, Arial;*/
  text-transform: uppercase;
  /*font-weight: 700;*/
  border: none;
}
.navbar-custom .navbar-brand {
  color: white;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: white;
}
.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}
.navbar-custom .navbar-nav li a {
  color: white;
}
.navbar-custom .navbar-nav li a:hover {
  color: #82297e ;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: white;
}
.navbar-custom .navbar-nav li.active a {
  color: white;
  background: #82297e ;
}
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: #82297e ;
}
.navbar-custom .navbar-toggle {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  border-color: white;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #82297e ;
  color: white;
  border-color: #82297e ;
}

.loginheader {
            font-size: 30pt;
        }

@media (min-width: 768px) {
  .navbar-custom {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom.affix {
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}
section {
  padding: 100px 0;
}
section h2 {
  margin: 0;
  font-size: 3em;
}
section.success {
  background: #82297e ;
  color: white;
}
@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
  .notifications, .userProfile {
	  width:100%;
  }
}
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .caption {
  background: rgba(24, 188, 156, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #82297e ;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}
footer {
  color: white;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #2C3E50;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #233140;
}
.btn-rounded{
  border-radius: 50px;
  padding-left:20px;
  padding-right:20px;
}
.btn-large{
  width : 80%;
}
.btn-outline {
  color: #2f9ab9;
  border: 1px solid #2f9ab9;
  font-size: 20px;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 60px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #fff ;
  background-color: #2f9ab9;
  border: solid 2px 2f9ab9;
  outline: none !important;
}
.btn-standard {
  color: white;
  font-family: 'Open Sans', Arial;
  background-color: #2f9ab9;
  font-size: 10pt;
  font-weight: 600;
}
.btn-standard:hover,
.btn-standard:focus,
.btn-standard:active,
.btn-standard.active,
.open .dropdown-toggle.btn-standard {
  color: white;
  background-color: #29849f;
  outline: none !important;
}
.btn-standard:focus,
.btn-standard.focus {
  color: #fff;
 background-color: #29849f;
}
.btn-standard:hover {
  color: white;
  background-color: #29849f;
}
.btn-standard:active,
.btn-standard.active,
.open > .dropdown-toggle.btn-standard {
  color: #fff;
  background-color: #29849f;
}
.btn-standard:active:hover,
.btn-standard.active:hover,
.open > .dropdown-toggle.btn-standard:hover,
.btn-standard:active:focus,
.btn-standard.active:focus,
.open > .dropdown-toggle.btn-standard:focus,
.btn-standard:active.focus,
.btn-standard.active.focus,
.open > .dropdown-toggle.btn-standard.focus {
  color: #fff;
  background-color: #29849f;
  outline: none !important;
}
.btn-standard:active,
.btn-standard.active,
.open > .dropdown-toggle.btn-standard {
  background-image: none;
}
.btn-standard.disabled:hover,
.btn-standard[disabled]:hover,
fieldset[disabled] .btn-standard:hover,
.btn-standard.disabled:focus,
.btn-standard[disabled]:focus,
fieldset[disabled] .btn-standard:focus,
.btn-standard.disabled.focus,
.btn-standard[disabled].focus,
fieldset[disabled] .btn-standard.focus {
  background-color: #29849f;
}
.btn-standard .badge {
  color: #29849f;
  background-color: #fff;
}
.btn-home {
  color: #fff;
   background-color: #eb7c5c ;
  background: -webkit-linear-gradient(90deg, #eb7c5c, #ed9c61); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, #eb7c5c, #ed9c61); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, #eb7c5c, #ed9c61); /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, #eb7c5c, #ed9c61); /* Standard syntax (must be last)*/
  font-weight: 700;
}
.btn-home:hover,
.btn-home:focus,
.btn-home:active,
.btn-home.active,
.open .dropdown-toggle.btn-home {
  color: white;
  background-color: #f7b334 ;
  background: -webkit-linear-gradient(90deg, #e87453, #f2944f); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, #e87453, #f2944f); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, #e87453, #f2944f); /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, #e87453, #f2944f); /* Standard syntax (must be last)*/
  outline: none !important;
}
.btn-home:focus,
.btn-home.focus {
  color: #fff;
 background-color: #82297e ;
  border-color: #82297e ;
}
.btn-home:hover {
  color: #fff;
  background-color: #82297e ;
  border-color: #82297e ;
}
.btn-home:active,
.btn-home.active,
.open > .dropdown-toggle.btn-home {
  color: #fff;
  background-color: #82297e ;
}
.btn-home:active:hover,
.btn-home.active:hover,
.open > .dropdown-toggle.btn-home:hover,
.btn-home:active:focus,
.btn-home.active:focus,
.open > .dropdown-toggle.btn-home:focus,
.btn-home:active.focus,
.btn-home.active.focus,
.open > .dropdown-toggle.btn-home.focus {
  color: #fff;
  background: -webkit-linear-gradient(90deg, #e87453, #f2944f); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, #e87453, #f2944f); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, #e87453, #f2944f); /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, #e87453, #f2944f); /* Standard syntax (must be last)*/
  outline: none !important;
}
.btn-home:active,
.btn-home.active,
.open > .dropdown-toggle.btn-home {
  background-image: none;
}
.btn-home.disabled:hover,
.btn-home[disabled]:hover,
fieldset[disabled] .btn-home:hover,
.btn-home.disabled:focus,
.btn-home[disabled]:focus,
fieldset[disabled] .btn-home:focus,
.btn-home.disabled.focus,
.btn-home[disabled].focus,
fieldset[disabled] .btn-home.focus {
   background-color: #eb7c5c ;
  background: -webkit-linear-gradient(90deg, #eb7c5c, #ed9c61); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, #eb7c5c, #ed9c61); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, #eb7c5c, #ed9c61); /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, #eb7c5c, #ed9c61); /* Standard syntax (must be last)*/
}
.btn-home .badge {
  color: #82297e;
  background-color: #fff;
}
.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049;
}
.scroll-top .btn {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 28px;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #4cadf8;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #4cadf8;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
#skipnav a {
  padding: 6px;
  position: absolute;
  top: -40px;
  left: 0px;
  color: white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-bottom-right-radius: 8px;
  background: transparent;
  transition: top 1s ease-out, background 1s linear;
  z-index: 2000;
}
#skipnav a:focus {
  position: absolute;
  left: 0px;
  top: 0px;
  background: #82297e ;
  outline: 0;
  transition: top 0.1s ease-in, background 0.5s linear;
}
div#maincontent {
  outline: none;
}
/*Start menu styles*/
   nav {
            background-color: #82297e;
            background: -webkit-linear-gradient(90deg, #82297e, #9F257A);
            /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(90deg, #82297e, #9F257A);
            /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(90deg, #82297e, #9F257A);
            /* For Firefox 3.6 to 15 */
            background: linear-gradient(90deg, #82297e, #9F257A);
            /* Standard syntax (must be last)*/
            height: 60px;
            padding: 0px 0px;
			position: fixed;
			width:100%;
			z-index:100000;
        }
        
        nav .userMenu {
            float: right;
        }
        
        #slideMainMenuBtn {
            padding: 17px 15px;
        }
        
        .userMenu div {
            float: right;
            padding: 11px 0px;
        }
        
        .userMenu .dropdown li {
            list-style-type: none;
        }
        
        .pad0 {
            padding: 0px !important;
        }
		
		.pad60{
			padding-top:60px !important;
		}
        
        .slideMainMenu {
            display: none;
            background-color: #e7f1f7;
            position: absolute; z-index: 9999;
            border-bottom:2px solid #82297e;
			      padding-top: 60px;
        }
        
        .userProfile,        
        .searchBar {
            display: none;
            background-color: #e7f1f7;
            padding: 80px 20px 20px;
            position: absolute; z-index: 9999;
            border-bottom:2px solid #82297e;
        }
		
		.searchBar,
		.slideMainMenu{
			width:100%;
		}
				
		.notifications{
			display: none;
            background-color: #e7f1f7;
            padding: 60px 0px 0px;
            position: absolute; z-index: 9999;
            border-bottom:2px solid #82297e;
		}
        
        .navbar-icon {
            color: white;
            background-color: transparent;
            border: none;
            font-size: 18px;
        }
        
        .navbar-title {
            font-family: 'Open Sans', sans-serif;
            padding-bottom: 10px;
            border-bottom: 1px solid #a1a1a1;
            color:#82297e;
            font-weight: 500;
        }
        
        .navbar-iconmenu {
            font-size: 22px !important;
        }
        
        .navbar-header img {
            width: 100px;
            padding-top: 9px;
        }
        
        .smalllogo {
            width: 78px !important;
            padding: 0px !important;
        }
        
        .sideMainMenu {
            border-right: 1px solid rgba(161, 161, 161, 0.49);
        }
        
        .slideMainMenu ul {
            margin: 0px;
            padding: 0px;
        }
        
        .slideMainMenu ul li {
            list-style: none;
            font-size: 14px;
            line-height: 30px;
        }
        
        .slideMainMenu ul li a,
        .userprofile a {
            color: #545454;
            text-decoration: none;
            cursor: pointer;
            font-weight: 600;
        }
        
        .separator {
            border-bottom: 1px solid #a1a1a1;
        }
        
        .slideMainMenu ul li a:hover,
        .userprofile a:hover {
            padding-left: 1px;
            color: #282828;
            font-weight: bold;
        }

        .img-circle30 {
  border-radius: 50%; width: 30px; height: 30px; }
        /*End menu styles*/

        /*Start Page Header*/				
        .page-heading-btn{
          text-align: right;
          padding-top: 12px;
        }
        /*End Page Header*/
		
		/* Notifications Menu */
		.sidebar-container ul.nav-tabs li a{
			background-color:#e7f1f7;
			color:#545454;
			border-right: 0px solid #334556;
		}

    /*Did you know*/
    .badge-purple {
      background-color: #82297e;
      color: #FFFFFF;
    }
    .progress{
      height: 10px;
    }
    .progress-bar-secondary {
        background-color: #07C1EB;
    }

    .progress-bar-standard {
        background-color: #82297e;
    }

    .selectedAnswer {
            font-weight: bold;
        }

       didyouknowanswers ul {
            padding: 0px;
        }
        
        didyouknowanswers ul li {
            list-style-type: none;
        }


        .modal-dialog {
          margin-top: 75px;
        }
        table.shoping-cart-table tr td:last-child {
            width: 0px !important;
        }
        table.shoping-cart-table tr td {
            border: none;
            text-align: center;
        }
        .btn-online {
                background-color: limegreen;
                border-color:limegreen;
                color: #FFFFFF;
            }
            /*Care Journal*/
            .JournalTitle {
            font-size: 14pt;
            color: #82297e;
        }
        /*Profile page*/
        .feed-element {
            padding-bottom: 0px;
        }
        
        .iconbtn {
            padding: 0% 4%;
        }


        /*Mobile views styling*/

        .mobfooter{
          padding:5px 0px !important;
        }

        .text-blue-color{
          color:#2f9ab9 !important;
          font-weight: 600;
        }