
.m-bottom{margin-bottom:0px;}
.fc button {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    height: 2.1em;
  
    font-size:.8em;
    white-space: nowrap;
    cursor: pointer;
}
.fc-center h2{ font-size:1em;}
.calnde  .label {
    float: left;
    margin-left:2px;
}
.bg-doctor {
    background-color: #14a500 !important;
}
.icon-d i{color:#b4b4b4; font-size:18px; padding:0 9px 0 0 ;}
.filterByCatagoryEvent{font-size:10px;}
.agile-list li{ margin: 0 0 0px 0;}
.sortable-list {
    padding: 5px 0;
}
.bg-gray {background: #C6C6C6;}