﻿/*List popup*/
.Listpopup .ModalpopTitle {
    font-size: 32px;
    font-weight: 400;
    margin: 0;
}

.Listpopup .close {
    font-size: 37px;
    color: #000;
    opacity: .8;
}

.Listpopup .modal-body {
    padding: 20px 15px;
    color: #797979;
}

    .Listpopup .modal-body h4 {
        color: #797979;
        margin-bottom: 0px;
        font-size: 24px;
    }

    .Listpopup .modal-body .media-body {
        padding-left: 10px;
    }

    .Listpopup .modal-body p {
        font-size: 18px;
    }

.Listpopup .checkbox-primary {
 
    font-size: 18px;
    color: #797979;
    font-weight: 400;
}
