﻿.bs-wizard {
    margin: 30px 0;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

.bs-wizard li {
    list-style-type: none;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative;
    letter-spacing: 1px;
    text-align: center;
}

.bs-wizard li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
.bs-wizard li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

.bs-wizard li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.bs-wizard li.active:before, .bs-wizard li.active:after {
    background: #82297e;
    color: white;
}

.martop
{
    margin-top:10px;
}

.widget_contant {
    padding: 30px 20px;
    background: #fff;
    float: left;
    width: 100%;
    margin-bottom: 50px;

    h4 {
        font-size: 22px;
        color: #545454;
        margin-top: 20px;
    }

    .title {
        margin-bottom: 25px;

        h2 {
            font-size: 32px;
            color: #82297e;
            margin-bottom: auto;
        }

        span {
            font-size: 16px;
        }
    }

    .input-group {
        input[type=text] {
            margin: 0;
        }

        span {

            button {
                height: 35px;
                background: #85287d;
                color: #fff;
            }
        }
    }
}

.buttonpanal {
    float: left;
    width: 100%;
    margin: 30px 0;
}

.buttonpanal .brn-nextPrevious, .buttonpanal .brn-nextPrevious_back {
    padding: 10px 40px;
    border-radius: 25px;
    background: #2f9ab9;
    color: #fff;
    text-transform: uppercase;
}
/*List popup*/
.Listpopup {
    .ModalpopTitle {
        font-size: 32px;
        font-weight: 400;
        margin: 0;
    }

    .close {
        font-size: 37px;
        color: #000;
        opacity: .8;
    }

    .modal-body {
        padding: 20px 15px;
        color: #797979;

        h4 {
            color: #797979;
            margin-bottom: 0px;
            font-size: 24px;
        }

        .media-body {
            padding-left: 10px;
        }

        p {
            font-size: 18px;
        }
    }

    .form-check-label {margin-left:15px;
        font-size: 18px;
        color: #797979;
        font-weight: 400;
    }
}

